<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="blogs content">
                <h2>Products</h2>

                <% if (blogs.length > 0) { %>
                    <% blogs.forEach(blog => { %>
                        <a class="single" href="/blogs/<%= blog._id %>">
                            <h3 class="title">
                                <%= blog.title %>
                            </h3>
                            <p class="snippet">
                                <%= blog.snippet %>
                            </p>
                        </a>
                        <% }) %>
                            <% } else { %>
                                <p>There are no products to display...</p>
                                <% } %>

            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>